html,
body {
  font-family: Arial, sans-serif;
  background-color: #f6fbf8;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: #f6fbf8;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #333;
}

.inkwave-logo {
  width: 100px;
  height: 100px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
  position: absolute;
  top: 23%;

  z-index: 0;
}

.button-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 41%;
  gap: 15px;
}

.home-button {
  width: 200px;
  padding: 10px 15px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #f0f0f0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-button {
  width: 150px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f6fbf8;
  cursor: pointer;
  margin-top: 10px;
}

.close-popup-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #e0f7fa;
}

.home-button__log-out {
  margin-top: 10px;
}
